@inherits UmbracoViewPage<BlockListItem<CompaniesBlock>>

@{
    var content = Model.Content;
 }

@if (content != null)
{
    <section id="cliens" class="cliens section-bg">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="h3 text-center">@content.Title</p>
                </div>
            </div>

            <div class="row mt-3" data-aos="zoom-in">

                @foreach (var logo in content.CompaniesLogos)
                {
                    <div class="col-lg d-flex align-items-center justify-content-center">
                        <img src="@logo.MediaUrl()" class="img-fluid" alt="">
                    </div>
                }

            </div>
        </div>
    </section>
}
