@inherits UmbracoViewPage<BlockListItem<StepsItem>>

@{
    var content = Model.Content;
}

<div class="col-xl-4 col-md-6 d-flex " data-aos="zoom-in" data-aos-delay="100">
    <div class="icon-box">
        <div class="row">
            <div class="col-3 m-0 p-0">
                <img src="@content.Image.Url()" />
            </div>
            <div class="col-7 ml-5">
                <h4>@content.Title</h4>
                <p>@content.Description</p>
                <a href=""></a>
            </div>
        </div>
    </div>
</div>
