@inherits UmbracoViewPage<Home>
@{
    Layout = "Master.cshtml";

    var blocks = Model.MainContent;
}
<div class="m-5 p-5"></div>
<main id="main">
    @foreach (var block in blocks)
    {
        <div class="row my-4 py-4" data-aos="fade-up">
            <div class="col" data-aos="zoom-in" data-aos-delay="100">
                    @await Html.PartialAsync("blocklist/Components/" + block.Content.ContentType.Alias, block)
            </div>
        </div>
    }
</main>
<!-- End Cliens Section -->
