@inherits UmbracoViewPage<Home>
@{
    Layout = "Master.cshtml";
}
<div class="m-5 p-5"></div>
<main id="main">
    @if (Model.CompaniesLogo != null)
    {
        <section id="cliens" class="cliens section-bg">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="h3 text-center">@Model.TrustedSectionTitle</p>
                    </div>
                </div>

                <div class="row mt-3" data-aos="zoom-in">

                    @foreach (var logo in Model.CompaniesLogo)
                    {
                        <div class="col-lg d-flex align-items-center justify-content-center">
                            <img src="@logo.MediaUrl()" class="img-fluid" alt="">
                        </div>
                    }

                </div>
            </div>
        </section>
    }
</main>
<!-- End Cliens Section -->
